.loader {
    width:100px;
    display:flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .loader span {
    width:10px;
    height:120px;
    background:white;
    margin:0px 3px;
    animation:loading 1200ms ease-in-out infinite;
  }
  .loader span:nth-child(1) {
    background:var(--primary-color);
    animation-delay:-700ms;
  }
  .loader span:nth-child(2) {
    background:var(--secondary-color);
    animation-delay:-600ms;
  }
  .loader span:nth-child(3) {
    background:var(--primary-color);
    animation-delay:-500ms;
  }
  .loader span:nth-child(4) {
    background:var(--secondary-color);
    animation-delay:-400ms;
  }
  .loader span:nth-child(5) {
    background:var(--primary-color);
    animation-delay:-300ms;
  }
  .loader span:nth-child(6) {
    background:var(--secondary-color);
    animation-delay:-200ms;
  }
  
  @keyframes loading {
    0%,60%,100% {
      transform:scaleY(0.05);
    }
    35% {
      transform:scale(1);
    }
  }