/* >>>>>>>>>>>>>>Flex Container<<<<<<<<<<<< */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-gap {
  gap: 3rem;
}

.flex-sm-gap {
  gap: 1rem;
}

/* >>>>>>>>>>>>>>Button<<<<<<<<<<<<<<< */
button {
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.8rem;
}

.outline-btn {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.hero-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: bolder;
}

.outline-btn:hover,
.hero-btn:hover {
  opacity: 0.7;
}

/* >>>>>>>>>>>>>>Divider<<<<<<<<<<<<<< */
.hr-line {
  height: 1px;
  border-width: 0;
  background-color: var(--hr-line);
  margin: 1.5rem 0;
}

/* >>>>>>>>>>>>>>Color<<<<<<<<<<<<<<< */
.secondary-color {
  color: var(--secondary-color);
}

.primary-color {
  color: var(--primary-color);
}

.black-color {
  color: var(--black-color);
}

/* >>>>>>>>>>>>>>Font<<<<<<<<<<<<<< */
.font-xl {
  font-size: 5rem;
}
.font-lg {
  font-size: 4rem;
}

.font-header {
  font-size: 3rem;
}

.font-rg {
  font-size: 2.2rem;
}

.font-md {
  font-size: 1.8rem;
}

.font-sm {
  font-size: 1.5rem;
}

/* >>>>>>>>>>>>>>Gutter<<<<<<<<<<<<<< */
.space-XS {
  margin: 0.4rem;
}

.space-S {
  margin: 0.8rem;
}

.space-M {
  margin: 1.2rem;
}

.space-L {
  margin: 1.6rem;
}

.space-XL {
  margin: 2rem;
}

.space-XXL {
  margin: 3.2rem;
}

/* >>>>>>>>>>>>>>Other Utlity<<<<<<<<<<<<<< */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.underline-header {
  width: 9rem;
  height: 3px;
  background-color: var(--primary-color);
  margin: auto;
  margin-top: 1px;
}

.primary-color {
  color: var(--primary-color);
}

.bold-highlight-color {
  color: #fd776b;
}

.cursor-pointer {
  cursor: pointer;
}
