@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.header-container {
  grid-area: header;
  background-color: var(--navbar-header-color);
  color: var(--secondary-color);
  border-bottom: 2px solid var(--border-color);
}

.header {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  display: flex;
  padding: 1.5rem;
}

.main-title {
  font-family: "Roboto Slab", serif;
  font-size: 3.5rem;
  color: var(--secondary-color);
}

.bold-main-title {
  font-size: 4.5rem;
  color: var(--primary-color);
}

.header-inner-container > li {
  list-style-type: none;
}

.header-main-content {
  margin-left: 5rem;
  margin-right: 1rem;
  font-size: 2rem;
  color: var(--secondary-color);
  font-weight: 700;
  cursor: pointer;
}

.header-item {
  font-size: 2rem;
}

.header-item:hover {
  color: var(--primary-color);
}

.icon-container {
  margin-left: auto;
  font-size: 1.3rem;
  color: var(--secondary-color);
  margin-right: 3.6rem;
}

.icon-unit {
  cursor: pointer;
}

.icon {
  font-size: 2.5rem;
}

.icon-unit:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.search-bar-container {
  margin: 1rem 5rem;
  background-color: black;
  color: var(--secondary-color);
  border: 2px solid var(--border-color);
  border-radius: 20px;
  width: 50%;
  margin: auto;
}

.search-bar {
  display: flex;
}

.input-search {
  background-color: var(--highlight-color);
  color: var(--primary-color);
  width: 90%;
  padding: 1rem;
  border: none;
  border-radius: 20px 0 0 20px;
}

.input-search:focus {
  border: none;
  outline: none;
}

.input-search::placeholder {
  font-size: 1.5rem;
}

.search-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: 1rem;
}

.search-bar-block {
  display: none;
}

.hr-line {
  display: none;
}

.header-divider {
  height: 0.7px;
}

.shop-now-link {
  color: var(--white-color);
}

.header-icon:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 1000px) {
  .search-bar-block {
    display: block;
    width: 80%;
    margin: auto;
  }
  .search-bar-inline {
    display: none;
  }
  .hr-line {
    display: block;
  }
}

@media only screen and (max-width: 675px) {
  .icon-container {
    display: none !important;
  }

  .header-main-content {
    margin-left: auto;
  }

  .icon-container {
    margin-right: 0rem;
  }
}
